# ignore all direct items, nonrecursively
/*

# unignore folders
!benchmarks
!continuous_integration
!doc
!examples
!joblib
!joblib.egg-info

# unignore files
!.gitignore
!CHANGES.rst
!CITATION.cff
!LICENSE.txt
!MANIFEST.in
!Makefile
!README.rst
!SECURITY.md
!TODO.rst
!conftest.py
!pyproject.toml

# reignore subfolders/files recursively
__pycache__/
*.egg-info/
doc/generated/
doc/CHANGES.rst
doc/README.rst
