/* Main page title */
div.body h1 {
    text-align: center;
    font-size: 270%;
    color: #643200;
}

/* Secondary sections title */
div.body h2 {
    color: #643200;
}

/* Example python code block */
div.highlight pre {
    background-color: #f5f5f5;
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
}
