html[data-theme="light"] {
	--pst-color-link: #aa560c;
	--pst-color-inline-code-links: #aa560c;
}

html[data-theme="dark"] {
	--pst-color-link: #aa560c;
	--pst-color-inline-code-links: #aa560c;
}

.bd-article li.toctree-l1 > a {
	font-size: 140%;
	color: var(--pst-color-primary);
	font-weight: bold;
}

.bd-article li.toctree-l1 {
	padding-bottom: 1em;
}

img {
	background: transparent !important;
}

.center-rubric {
	text-align: center;
	font-size: 110%;
}
