numpy
wheel
pytest
pytest-cov
pytest-timeout
codecov
# msgpack 1.0 is not compatible with Python 2
# (https://github.com/msgpack/msgpack-python/issues/413)
msgpack<1; python_version >= '3'
distributed
lz4
threadpoolctl; python_version >= '3.5'
