name: CI
permissions:
  contents: read

# Define scheduling for the workflow
on:
  push:
    branches:
      - main
      - MNT-pickle-test-accross-versions
  pull_request:
    branches:
      - main
  schedule:
    # Weekly build on Tuesday at 3:00 PM
    - cron: "0 15 * * 2"

# Cancel in-progress workflows when pushing
# a new commit on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE: 'true'

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files

  gen-pickle:
    name: Generate pickle files
    needs: linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          auto-update-conda: true
          miniforge-version: latest
      - name: Install environments
        run: bash -el continuous_integration/install_old.sh
      - name: Generate pickle files
        run: mkdir pickle_data |
          && cd pickle_data |
          && bash -el ../joblib/test/data/generate_data.sh |
          && ls

  testing:
    name: Testing
    needs: gen-pickle
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        name: [default]
        os: [ubuntu-latest, macos-latest, windows-latest]
        PYTHON_VERSION: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - name: test-sklearn
            os: ubuntu-latest
            PYTHON_VERSION: "3.12"
            SKLEARN_TESTS: "true"
          - name: distributed-latest
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"
            EXTRA_CONDA_PACKAGES: numpy distributed
          - name: distributed
            os: ubuntu-latest
            PYTHON_VERSION: "3.9"
            EXTRA_CONDA_PACKAGES: numpy=1.22.2 distributed=2023.1.1
          - name: numpy-1.24
            os: ubuntu-latest
            PYTHON_VERSION: "3.11"
            EXTRA_CONDA_PACKAGES: numpy=1.24.1
            CYTHON: true
          - name: no-multiprocessing
            os: ubuntu-latest
            PYTHON_VERSION: "3.9"
            EXTRA_CONDA_PACKAGES: numpy=1.22.2
            JOBLIB_MULTIPROCESSING: "0"
            NO_LZMA: true
          - name: no-numpy
            os: ubuntu-latest
            PYTHON_VERSION: "3.9"
            NO_NUMPY: true
          - name: no-lz4
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"
            NO_LZ4: true
          - name: one-cpu
            os: ubuntu-latest
            PYTHON_VERSION: "3.12"
            LOKY_MAX_CPU_COUNT: 1
          - name: default-backend-threading
            os: ubuntu-latest
            PYTHON_VERSION: "3.9"
            JOBLIB_TESTS_DEFAULT_PARALLEL_BACKEND: "threading"
          - name: python3.13-free-threaded
            os: 'ubuntu-latest'
            PYTHON_VERSION: "free-threaded-3.13"
          - name: python3.14-free-threaded
            os: 'ubuntu-latest'
            PYTHON_VERSION: "free-threaded-3.14"

    env: ${{ matrix }}

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        # Need to use this shell to get conda working properly.
        # See https://github.com/marketplace/actions/setup-miniconda#important
        shell: ${{ matrix.os == 'windows-latest' && 'cmd /C CALL {0}' || 'bash -el {0}' }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          auto-update-conda: true
          miniforge-version: latest


      - name: Install dependencies
        run: |
          bash -el continuous_integration/install.sh

      - name: Run tests
        run: |
          bash -el continuous_integration/run_tests.sh

      # - name: Upload to Codecov
      #   # always upload coverage even if tests fail
      #   if: ${{ matrix.SKLEARN_TESTS != 'true' && (success() || failure()) }}
      #   uses: codecov/codecov-action@v5
      #   with:
      #     files: coverage.xml
      #     token: ${{ secrets.CODECOV_TOKEN }}
