name: CI
permissions:
  contents: read

# Define scheduling for the workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    # Weekly build on Tuesday at 3:00 PM
    - cron: "0 15 * * 2"

# Cancel in-progress workflows when pushing
# a new commit on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COVERAGE: 'true'

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install pre-commit
      - name: Run pre-commit
        run: pre-commit run --all-files

  testing:
    name: Testing
    needs: linting
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        name: [default]
        os: [ubuntu-latest, macos-latest, windows-latest]
        PYTHON_VERSION: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
        # When a package version is specified
        # Use the oldest version supporting the used python version
        # For distributed, some behavior changed starting from 2022.8.
        # We decided to not support older versions
        # CLOUDPICKLE TESTS
          - name: cloudpickle
            os: ubuntu-latest
            PYTHON_VERSION: "3.10" # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3 cloudpickle=3.0.0
          - name: cloudpickle
            os: macos-latest
            PYTHON_VERSION: "3.10" # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3 cloudpickle=3.0.0
          - name: cloudpickle
            os: windows-latest
            PYTHON_VERSION: "3.10" # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3 cloudpickle=3.0.0
        # END OF CLOUDPICKLE TESTS
          - name: test-sklearn
            os: ubuntu-latest
            PYTHON_VERSION: "3.14" # Latest
            SKLEARN_TESTS: "true"
          - name: distributed-latest
            os: ubuntu-latest
            PYTHON_VERSION: "3.14"  # Latest
            EXTRA_CONDA_PACKAGES: numpy distributed
          - name: distributed
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3 distributed=2022.8.1
          - name: cython
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3
            CYTHON: true
          - name: no-multiprocessing
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            EXTRA_CONDA_PACKAGES: numpy=1.21.3
            JOBLIB_MULTIPROCESSING: "0"
            NO_LZMA: true
          - name: no-numpy
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            NO_NUMPY: true
          - name: no-lz4
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            NO_LZ4: true
          - name: one-cpu
            os: ubuntu-latest
            PYTHON_VERSION: "3.14"  # Latest
            LOKY_MAX_CPU_COUNT: 1
          - name: default-backend-threading
            os: ubuntu-latest
            PYTHON_VERSION: "3.10"  # Oldest
            JOBLIB_TESTS_DEFAULT_PARALLEL_BACKEND: "threading"
          - name: python3.13-free-threaded
            os: 'ubuntu-latest'
            PYTHON_VERSION: "free-threaded-3.13"
          - name: python3.14-free-threaded
            os: 'ubuntu-latest'
            PYTHON_VERSION: "free-threaded-3.14"

    env: ${{ matrix }}

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        # Need to use this shell to get conda working properly.
        # See https://github.com/marketplace/actions/setup-miniconda#important
        shell: ${{ matrix.os == 'windows-latest' && 'cmd /C CALL {0}' || 'bash -el {0}' }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          auto-update-conda: true
          miniforge-version: latest


      - name: Install dependencies
        run: |
          bash -el continuous_integration/install.sh

      - name: Run tests
        run: |
          bash -el continuous_integration/run_tests.sh

      - name: Upload to Codecov
        # always upload coverage even if tests fail
        if: ${{ matrix.SKLEARN_TESTS != 'true' && (success() || failure()) }}
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
